.flash-box
.wrapper
  = render 'shared/chat-side'
  
  .chat-main{data: {id: @group.id}}
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          = @group.name
        .main-header__left-box__menber-list
          member:
          - @group.users.each do |user|
            .main-header__left-box__menber-list__member
              = user.name

      = link_to edit_group_path(@group) do
        .main-header__edit-btn
          Edit
      

    .messages 
      = render @messages
    
    .form
      = form_for [@group, @message] do |f|
        .form__mask
          = f.text_field :content, class: 'form__message', placeholder: 'type a message' 
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
          